{
    "extends": [
        "react-app", 
        "airbnb", 
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["react","@typescript-eslint"],
    "rules": {
        "jsx-a11y/anchor-is-valid":0,
        "react/require-default-props":0,
        "import/extensions":0,
        "react/jsx-wrap-multilines":1,
        "react/self-closing-comp":1,
        "react/no-array-index-key":1,
        "jsx-a11y/click-events-have-key-events":0,
        "import/newline-after-import":0,
        "no-console":0,
        "react/jsx-boolean-value":0,
        "jsx-a11y/accessible-emoji":0,
        "jsx-a11y/label-has-for":0,
        "jsx-a11y/label-has-associated-control":0,
        "jsx-a11y/no-static-element-interactions":0,
        "react/no-unused-state":1,
        "no-unused-vars":1,
        "react/jsx-no-duplicate-props":1,
        "react/destructuring-assignment":1,
        "jsx-a11y/alt-text":1,
        "react/sort-comp":1,
        "react/no-unescaped-entities":0,
        "react/jsx-one-expression-per-line":0,
        "import/no-unresolved": "off",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [".js", ".jsx", ".ts", "tsx"]
            }
        ],
        "semi": ["error", "always"],
        "jsx-a11y/href-no-hash": ["off"],
        "import/prefer-default-export": "off",
        "react/prefer-stateless-function": "off",
        "import/no-extraneous-dependencies": "off",
        "key-spacing": [
            1,
            {
                "singleLine": {
                    "beforeColon": false,
                    "afterColon": true
                },
                "multiLine": {
                    "align": "colon",
                    "mode": "minimum"
                }
            }
        ],
        "comma-dangle": 0,
        "react/jsx-indent": 0,
        "react/jsx-indent-props": [1, 2],
        "react/prop-types": 0
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"],
                "paths": ["src"]
            },
            "alias": [["browser", "./src/app/utils/"]]
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "worker": true,
        "serviceworker": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "APP_ENV": true,
        "ENVIRONMENT": true,
        "FPTUSDK": true
    }
}
