
.xetduyetPage{
    .header-boxshadow{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }
    .i-image{
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/FJo-bUl4W4i.png);
      background-position: 0px -234px;
      background-size: auto;
      width: 18px;
      height: 18px;
      vertical-align: -0.25em;
      white-space: nowrap;
      background-repeat: no-repeat;
      display: inline-block;
      -webkit-filter:invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
    }
  }
