.cfsPage{
    .ant-tabs-tab-btn:focus{
        color:rgba(0, 0, 0, 0.85) ;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #1890ff;
        text-shadow: 0 0 0.25px currentcolor;
    }
    li.custom-list:before {
        content: "\2022"; /* bullet point, for screen readers */
        text-indent: -9999999px; /* move the bullet point out of sight */
      
        width: 0.4em;
        height: 1em;
        background-repeat: no-repeat;
      
        background-size: 0.4em 0.7em;
        background-position: 0 0.3em;
        font-size: 300%;
        top: -0.35em;
        @apply absolute block;
      }
      li.circle-check:before {
        background-image: url("/assets/images/checklist.svg");
        left: -0.7em;
        top: -0.4em;
      }
      li.check:before {
        left: -0.5em;
        background-image: url("/assets/images/jam_check.svg");
        top: -0.5em;
        font-size: 400%;
      }
}

