
.header-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-boxshadow{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.i-emoji{
    height: 24px;
    width: 24px;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/P2wRG9A8gow.png"); 
    background-position: 0px -58px; 
    background-size: auto; 
    background-repeat: no-repeat; 
    display: inline-block;
    vertical-align: -0.25em;
}
.i-emoji2{
    display: inline-block;
    vertical-align: -0.25em;
}
